In [4]:
import pandas as pd

In [2]:
s="HelloWorld"
display(s)

'HelloWorld'

In [6]:

d={'Col1' : pd.Series([1,2,3,4],index=['a','b','c','e']), 'Col2' : pd.Series([4,5,6],index=['x','y','z'])}
p=pd.DataFrame(d)
p['Col1'].fillna(1,inplace=True)
p['Col2'].fillna(2,inplace=True)
p.loc['b'].at['Col1']=10
p.loc['z'].at['Col2']=20
display(p)

   Col1  Col2
a   1.0   2.0
b  10.0   2.0
c   3.0   2.0
e   4.0   2.0
x   1.0   4.0
y   1.0   5.0
z   1.0  20.0