In [63]:
import numpy as np
import math as mt

a= np.array([[1,2],[3,4],[5,6]])


#print(a.shape)

a.reshape(6,1)
print(a.shape)

(3, 2)

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5],[ 'a','b','c','d','e'])

print(s)
print(s[4])

a    1
b    2
c    3
d    4
e    5
dtype: int64
5

In [108]:
     myDict = {'A':[10,20,30], 'B':20, 'C':30}
     s=pd.Series(myDict)
     print(s)
     print(s['A'])

A    [10, 20, 30]
B              20
C              30
dtype: object
[10, 20, 30]

In [109]:

     myDict = {'A':10, 'B':20, 'C':30,'X':77}
     series=pd.Series(myDict,index=['X','Y','Z'])
     print(series)
     print(series['X'])

X    77.0
Y     NaN
Z     NaN
dtype: float64
77.0

In [110]:
    myDict = {'A':10, 'B':20, 'C':30}
    series=pd.Series(myDict,index=['C','A','B'])
    print(series)
    print(series['B'])

C    30
A    10
B    20
dtype: int64
20

In [111]:
d={'a':1000,'b':10000,'c':77}
c=pd.Series(d)
print(c)
print(c['a'])
#print(c[c>=10000])
c['a']=1232143234
print(c)

a     1000
b    10000
c       77
dtype: int64
1000
a    1232143234
b         10000
c            77
dtype: int64

In [112]:
np.square(c)

a    1518176949091978756
b              100000000
c                   5929
dtype: int64

In [113]:
c.isnull()

a    False
b    False
c    False
dtype: bool

In [114]:
    data = {'Name': ['Anna', 'Bob', 'Charles'], 
                  'Age': [24, 32, 35],
                  'Height': [176, 187,    175]
                 }
    d=pd.DataFrame (data)
    print(d)

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175

In [115]:

    data = {'Name': ['Anna', 'Bob', 'Charles'], 'Age': [24, 32, 35],'Height': [176, 187, 175]}
    d=pd.DataFrame (data)
    print(d)
    print(d[['Name','Height']])

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175
      Name  Height
0     Anna     176
1      Bob     187
2  Charles     175

In [116]:
#d=d.transpose()

print(d.T)
#d=d.transpose()

           0    1        2
Name    Anna  Bob  Charles
Age       24   32       35
Height   176  187      175

In [117]:
print(d)
print(d.dtypes)

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175
Name      object
Age        int64
Height     int64
dtype: object

In [118]:
print(d.ndim)#no of dimensions

2

In [119]:
print(d.shape)

(3, 3)

In [120]:
print(d.size)

9

In [121]:
print(d.head(1))

   Name  Age  Height
0  Anna   24     176

In [122]:
print(d.tail())

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175

In [123]:
d.count()

Name      3
Age       3
Height    3
dtype: int64

In [124]:
d['Name'].sum()

'AnnaBobCharles'

In [125]:
d.sum()

Name      AnnaBobCharles
Age                   91
Height               538
dtype: object

In [126]:
d.mean()

/tmp/ipykernel_34825/1214089992.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.mean()

Age        30.333333
Height    179.333333
dtype: float64

In [127]:
d['Age'].mean()

30.333333333333332

In [128]:
d['Name'].mode()

0       Anna
1        Bob
2    Charles
Name: Name, dtype: object

In [129]:
d.median()

/tmp/ipykernel_34825/3286961719.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.median()

Age        32.0
Height    176.0
dtype: float64

In [130]:
d.std()

/tmp/ipykernel_34825/4080983771.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.std()

Age       5.686241
Height    6.658328
dtype: float64

In [131]:
d.min()

Name      Anna
Age         24
Height     175
dtype: object

In [132]:
d.max()

Name      Charles
Age            35
Height        187
dtype: object

In [65]:
d['Age'].abs()

0    24
1    32
2    35
Name: Age, dtype: object

In [66]:
d.product()

/tmp/ipykernel_34825/3423768509.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.product()

Age         26880
Height    5759600
dtype: object

In [67]:
d.describe()

        Name  Age  Height
count      3    3       3
unique     3    3       3
top     Anna   24     176
freq       1    1       1

In [136]:
np.mean(d['Age'])

30.333333333333332

In [71]:
for x in d['Age']:
    print(x)

24
32
35

In [72]:
for key,val in d.iteritems():
    print("{}: {}".format(key,val))

Name: 0       Anna
1        Bob
2    Charles
Name: Name, dtype: object
Age: 0    24
1    32
2    35
Name: Age, dtype: object
Height: 0    176
1    187
2    175
Name: Height, dtype: object

In [73]:
for key,val in d.iterrows():
    print("{}: {}".format(key,val))

0: Name      Anna
Age         24
Height     176
Name: 0, dtype: object
1: Name      Bob
Age        32
Height    187
Name: 1, dtype: object
2: Name      Charles
Age            35
Height        175
Name: 2, dtype: object

In [76]:
df=pd.DataFrame(np.random.rand(10,2),index=[1,5,3,6,7,2,8,9,0,4],columns=['A','B'])

In [77]:
print(df)

          A         B
1  0.665680  0.396169
5  0.088637  0.754639
3  0.845344  0.247862
6  0.115603  0.184377
7  0.189857  0.463171
2  0.315994  0.204601
8  0.069898  0.246617
9  0.555257  0.947618
0  0.327664  0.886467
4  0.328109  0.624497

In [78]:
print(df.sort_index())

          A         B
0  0.327664  0.886467
1  0.665680  0.396169
2  0.315994  0.204601
3  0.845344  0.247862
4  0.328109  0.624497
5  0.088637  0.754639
6  0.115603  0.184377
7  0.189857  0.463171
8  0.069898  0.246617
9  0.555257  0.947618

In [79]:
df.sort_index(inplace=True)

In [80]:
print(df)

          A         B
0  0.327664  0.886467
1  0.665680  0.396169
2  0.315994  0.204601
3  0.845344  0.247862
4  0.328109  0.624497
5  0.088637  0.754639
6  0.115603  0.184377
7  0.189857  0.463171
8  0.069898  0.246617
9  0.555257  0.947618

In [88]:
data={'id':[0,1,2],'Name':['Annna','Bob','Chareles'],'Age':[24,22,30],'Height':[160,160,180]}
df=pd.DataFrame(data)
print(df.sort_values(by=['Height','Age']))

   id      Name  Age  Height
1   1       Bob   22     160
0   0     Annna   24     160
2   2  Chareles   30     180

In [89]:
df.to_csv('xyz.csv')
df=pd.read_csv('xyz.csv')
df.set_index('id',inplace=True)
print(df)

    Unnamed: 0      Name  Age  Height
id
0            0     Annna   24     160
1            1       Bob   22     160
2            2  Chareles   30     180

In [90]:
data1={'id':[0,1,2],'Name':['Annna','Bob','Chareles']}
data2={'id':[0,1,3],'Age':[24,22,30],'Height':[160,160,180]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [91]:
print(df1)

   id      Name
0   0     Annna
1   1       Bob
2   2  Chareles

In [92]:
print(df2)

   id  Age  Height
0   0   24     160
1   1   22     160
2   3   30     180

In [106]:
df=pd.merge(df1,df2,on='id',how='outer')
print(df)

   id      Name   Age  Height
0   0     Annna  24.0   160.0
1   1       Bob  22.0   160.0
2   2  Chareles   NaN     NaN
3   3       NaN  30.0   180.0

In [105]:
print(df.loc[df['Age']>22])

   id   Name  Age  Height
0   0  Annna   24     160

In [138]:
#file=['file1','file2']
#data=[]
#for name in  file:
#    data.append(pd.read_csv(name))
#df=pd.merge(data[0],data[1],on='id',how='inner')

In [150]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 

df['three']=pd.Series([10,20,30],index=['a','b','c']) 
print (df)

df['four']=df['one']+df['three'] 
print (df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [151]:
del df['one']

In [152]:
print(df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN

In [153]:
df.pop('two') 
print(df)

   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

In [158]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print(df)
print( df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [157]:
print( df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [159]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print(df)
print (df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
c  3.0    3
d  NaN    4

In [160]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b']) 
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b']) 
df = df.append(df2) 
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

/tmp/ipykernel_34825/2591589784.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [6]:
d={'Col1' : pd.Series([1,2,3,4],index=['a','b','c','e']), 'Col2' : pd.Series([4,5,6],index=['x','y','z'])}
p=pd.DataFrame(d)
print(p)
p['Col1'].fillna(1,inplace=True)
p['Col2'].fillna(2,inplace=True)
print(p)

   Col1  Col2
a   1.0   NaN
b   2.0   NaN
c   3.0   NaN
e   4.0   NaN
x   NaN   4.0
y   NaN   5.0
z   NaN   6.0
   Col1  Col2
a   1.0   2.0
b   2.0   2.0
c   3.0   2.0
e   4.0   2.0
x   1.0   4.0
y   1.0   5.0
z   1.0   6.0

In [7]:
a=pd.Series([1,2,3],index=['a','b','c'])

print(a)

data =[['Alex',20],['Bob',30],['Clark',40]]
df=pd.DataFrame(data,columns=['Name','Age'],index=['a','b','c'])
print(df)

d={'one' : pd.Series([1,2,3],index=['a','b','c']), 'two' : pd.Series([1,2,3,4],index=['a','b','c','d'])}
print(pd.DataFrame(d))
df=pd.DataFrame(d)
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
df['four']=df['one']+df['two']
print(df)

a    1
b    2
c    3
dtype: int64
    Name  Age
a   Alex   20
b    Bob   30
c  Clark   40
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0   2.0
b  2.0    2   20.0   4.0
c  3.0    3   30.0   6.0
d  NaN    4    NaN   NaN