In [63]:
import numpy as np
import math as mt

a= np.array([[1,2],[3,4],[5,6]])


#print(a.shape)

a.reshape(6,1)
print(a.shape)

(3, 2)

In [3]:
import pandas as pd
s=pd.Series([1,2,3,4,5],[ 'a','b','c','d','e'])

print(s)
print(s[4])

a    1
b    2
c    3
d    4
e    5
dtype: int64
5

In [4]:
     myDict = {'A':[10,20,30], 'B':20, 'C':30}
     s=pd.Series(myDict)
     print(series)
     print(series['A'])

NameError: name 'series' is not defined

In [5]:

     myDict = {'A':10, 'B':20, 'C':30,'X':77}
     series=pd.Series(myDict,index=['X','Y','Z'])
     print(series)
     print(series['X'])

X    77.0
Y     NaN
Z     NaN
dtype: float64
77.0

In [6]:
    myDict = {'A':10, 'B':20, 'C':30}
    series=pd.Series(myDict,index=['C','A','B'])
    print(series)
    print(series['B'])

C    30
A    10
B    20
dtype: int64
20

In [7]:
d={'a':1000,'b':10000,'c':77}
c=pd.Series(d)
print(c)
print(c['a'])
#print(c[c>=10000])
c['a']=1232143234
print(c)

a     1000
b    10000
c       77
dtype: int64
1000
a    1232143234
b         10000
c            77
dtype: int64

In [8]:
np.square(c)

a    1518176949091978756
b              100000000
c                   5929
dtype: int64

In [9]:
c.isnull()

a    False
b    False
c    False
dtype: bool

In [10]:
    data = {'Name': ['Anna', 'Bob', 'Charles'], 
                  'Age': [24, 32, 35],
                  'Height': [176, 187,    175]
                 }
    d=pd.DataFrame (data)
    print(d)

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175

In [15]:

    data = {'Name': ['Anna', 'Bob', 'Charles'], 'Age': [24, 32, 35],'Height': [176, 187, 175]}
    d=pd.DataFrame (data)
    print(d)
    print(d[['Name','Height']])

      Name  Age  Height
0     Anna   24     176
1      Bob   32     187
2  Charles   35     175
      Name  Height
0     Anna     176
1      Bob     187
2  Charles     175

In [45]:
#d=d.transpose()

print(d.T)
#d=d.transpose()

           0    1        2
Name    Anna  Bob  Charles
Age       24   32       35
Height   176  187      175

In [46]:
print(d)
print(d.dtypes)

      Name Age Height
0     Anna  24    176
1      Bob  32    187
2  Charles  35    175
Name      object
Age       object
Height    object
dtype: object

In [34]:
print(d.ndim)#no of dimensions

2

In [27]:
print(d.shape)

(3, 3)

In [36]:
print(d.size)

9

In [40]:
print(d.head(1))

         0    1        2
Name  Anna  Bob  Charles

In [41]:
print(d.tail())

           0    1        2
Name    Anna  Bob  Charles
Age       24   32       35
Height   176  187      175

In [48]:
d.count()

Name      3
Age       3
Height    3
dtype: int64

In [52]:
d['Name'].sum()

'AnnaBobCharles'

In [53]:
d.sum()

Name      AnnaBobCharles
Age                   91
Height               538
dtype: object

In [54]:
d.mean()

/tmp/ipykernel_34825/1214089992.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.mean()

Age        30.333333
Height    179.333333
dtype: float64

In [55]:
d['Age'].mean()

30.333333333333332

In [57]:
d['Name'].mode()

0       Anna
1        Bob
2    Charles
Name: Name, dtype: object

In [58]:
d.median()

/tmp/ipykernel_34825/3286961719.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.median()

Age        32.0
Height    176.0
dtype: float64

In [59]:
d.std()

/tmp/ipykernel_34825/4080983771.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.std()

Age       5.686241
Height    6.658328
dtype: float64

In [60]:
d.min()

Name      Anna
Age         24
Height     175
dtype: object

In [61]:
d.max()

Name      Charles
Age            35
Height        187
dtype: object

In [65]:
d['Age'].abs()

0    24
1    32
2    35
Name: Age, dtype: object

In [66]:
d.product()

/tmp/ipykernel_34825/3423768509.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.product()

Age         26880
Height    5759600
dtype: object

In [67]:
d.describe()

        Name  Age  Height
count      3    3       3
unique     3    3       3
top     Anna   24     176
freq       1    1       1

In [70]:
d['Age'].apply(np.sin)

TypeError: loop of ufunc does not support argument 0 of type int which has no callable sin method

In [71]:
for x in d['Age']:
    print(x)

24
32
35

In [72]:
for key,val in d.iteritems():
    print("{}: {}".format(key,val))

Name: 0       Anna
1        Bob
2    Charles
Name: Name, dtype: object
Age: 0    24
1    32
2    35
Name: Age, dtype: object
Height: 0    176
1    187
2    175
Name: Height, dtype: object

In [73]:
for key,val in d.iterrows():
    print("{}: {}".format(key,val))

0: Name      Anna
Age         24
Height     176
Name: 0, dtype: object
1: Name      Bob
Age        32
Height    187
Name: 1, dtype: object
2: Name      Charles
Age            35
Height        175
Name: 2, dtype: object

In [76]:
df=pd.DataFrame(np.random.rand(10,2),index=[1,5,3,6,7,2,8,9,0,4],columns=['A','B'])

In [77]:
print(df)

          A         B
1  0.665680  0.396169
5  0.088637  0.754639
3  0.845344  0.247862
6  0.115603  0.184377
7  0.189857  0.463171
2  0.315994  0.204601
8  0.069898  0.246617
9  0.555257  0.947618
0  0.327664  0.886467
4  0.328109  0.624497

In [78]:
print(df.sort_index())

          A         B
0  0.327664  0.886467
1  0.665680  0.396169
2  0.315994  0.204601
3  0.845344  0.247862
4  0.328109  0.624497
5  0.088637  0.754639
6  0.115603  0.184377
7  0.189857  0.463171
8  0.069898  0.246617
9  0.555257  0.947618

In [79]:
df.sort_index(inplace=True)

In [80]:
print(df)

          A         B
0  0.327664  0.886467
1  0.665680  0.396169
2  0.315994  0.204601
3  0.845344  0.247862
4  0.328109  0.624497
5  0.088637  0.754639
6  0.115603  0.184377
7  0.189857  0.463171
8  0.069898  0.246617
9  0.555257  0.947618

In [88]:
data={'id':[0,1,2],'Name':['Annna','Bob','Chareles'],'Age':[24,22,30],'Height':[160,160,180]}
df=pd.DataFrame(data)
print(df.sort_values(by=['Height','Age']))

   id      Name  Age  Height
1   1       Bob   22     160
0   0     Annna   24     160
2   2  Chareles   30     180

In [89]:
df.to_csv('xyz.csv')
df=pd.read_csv('xyz.csv')
df.set_index('id',inplace=True)
print(df)

    Unnamed: 0      Name  Age  Height
id
0            0     Annna   24     160
1            1       Bob   22     160
2            2  Chareles   30     180

In [90]:
data1={'id':[0,1,2],'Name':['Annna','Bob','Chareles']}
data2={'id':[0,1,3],'Age':[24,22,30],'Height':[160,160,180]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [91]:
print(df1)

   id      Name
0   0     Annna
1   1       Bob
2   2  Chareles

In [92]:
print(df2)

   id  Age  Height
0   0   24     160
1   1   22     160
2   3   30     180

In [106]:
df=pd.merge(df1,df2,on='id',how='outer')
print(df)

   id      Name   Age  Height
0   0     Annna  24.0   160.0
1   1       Bob  22.0   160.0
2   2  Chareles   NaN     NaN
3   3       NaN  30.0   180.0

In [105]:
print(df.loc[df['Age']>22])

   id   Name  Age  Height
0   0  Annna   24     160

In [ ]:
file=['file1','file2']
data=[]
for name in  file:
    data.append(pd.read_csv(name))
df=pd.merge(data[0],data[1],on='id',how='inner')